
.openingTabs
    margin-top: 100px
    padding: 50px

.tabs-wrapper
    background-color: #eee
    width: 500px
    margin: 0 auto

.tab-container
    overflow: hidden
    max-height: 30px
    transition: max-height ease 0.5s
    &.opened
        max-height: 600px
        .tab-header
            color: #a2a2a2
    
.tab-header
    display: inline-block
    cursor: pointer
    font-size: 20px
    text-transform: uppercase
    
.tab-content
    font-size: 13px
    padding-top: 10px
    padding-bottom: 20px
